@font-face {
  font-family: 'roifont';
  src:  url('roifont.eot?wnbbt9');
  src:  url('roifont.eot?wnbbt9#iefix') format('embedded-opentype'),
    url('roifont.ttf?wnbbt9') format('truetype'),
    url('roifont.woff?wnbbt9') format('woff'),
    url('roifont.svg?wnbbt9#roifont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="roi-"], [class*=" roi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'roifont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.1rem;
  color: #555555;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.roi-document-icon:before {
  content: "\e900";
}
.roi-filter-icon:before {
  content: "\e901";
}
.roi-bank-icon:before {
  content: "\e902";
}
.roi-money-icon:before {
  content: "\e903";
}
.roi-credit-card-icon:before {
  content: "\e904";
}
.roi-rupee-icon:before {
  content: "\e905";
}
.roi-close-icon:before {
  content: "\e906";
}
.roi-selected-icon:before {
  content: "\e907";
}
.roi-receipt-icon:before {
  content: "\e908";
}
.roi-back-arrow-icon:before {
  content: "\e909";
}
.roi-plus-icon:before {
  content: "\e90a";
}
.roi-delete-icon:before {
  content: "\e90b";
}
.roi-star-icon:before {
  content: "\e90c";
}
.roi-star-active-icon:before {
  content: "\e90d";
}
.roi-up-down-icon:before {
  content: "\e90e";
}
.roi-search-icon:before {
  content: "\e90f";
}
.roi-date-range-icon:before {
  content: "\e910";
}
.roi-accept-cr-icon:before {
  content: "\e938";
}
.roi-no_cr-icon:before {
  content: "\e939";
}
.roi-budget-icon:before {
  content: "\e93a";
}
.roi-promotion-icon:before {
  content: "\e93b";
}
.roi-briefcase-icon:before {
  content: "\e93c";
}
.roi-reception-icon:before {
  content: "\e93d";
}
.roi-stethoscope-icon:before {
  content: "\e93e";
}
.roi-inbox-icon:before {
  content: "\e93f";
}
.roi-reminders-icon:before {
  content: "\e940";
}
.roi-envelope-icon:before {
  content: "\e941";
}
.roi-call-answer-icon:before {
  content: "\e942";
}
.roi-download-icon:before {
  content: "\e943";
}
.roi-deleted-icon:before {
  content: "\e944";
}
.roi-edit-icon:before {
  content: "\e945";
}
.roi-location-details-icon:before {
  content: "\e946";
}
.roi-schedule-icon:before {
  content: "\e947";
}
.roi-billing-icon:before {
  content: "\e948";
}
.roi-patients-icon:before {
  content: "\e949";
}
.roi-settings-icon:before {
  content: "\e94a";
}
.roi-user-icon:before {
  content: "\e911";
}
.roi-key-icon:before {
  content: "\e912";
}
.roi-logout-icon:before {
  content: "\e913";
}
.roi-calendar-icon:before {
  content: "\e914";
}
.roi-paper-icon:before {
  content: "\e915";
}
