<p-tabView styleClass="custom-tabview prelative">
  <div class="billing-filter pabsolute">
    <div class="dd-filter prelative">
      <i class="roi-filter-icon"></i> 
      <p-dropdown dropdownIcon="pi pi-caret-down"></p-dropdown>
    </div>
    <div class="search-filter prelative">
      <input type="text" pInputText size="50" placeholder="Search" />
      <i class="roi-search-icon"></i>
    </div>

    
    
  </div>
  <p-tabPanel header="Income">
    <div class="ui-g">
      <div class="ui-g-8">
        <p-table [value]="billings" [columns]="cols">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of colsBilling" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-billing>
            <tr>
              <td>{{billing.invoice_date}}</td>
              <td>{{billing.patientname}}</td>
              <td>{{billing.payment_method}}</td>
              <td>{{billing.amount}}</td>
              <td><a class="link"><i class="roi-receipt-icon"></i> Receipt</a></td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="ui-g-3 ui-g-offset-1">
        <div class="billing-expenses">
          <h4>{{totalAmount}}</h4>
          <p>Total Amount</p>
          <i class="roi-rupee-icon"></i>
        </div>
        <div class="billing-expenses">
          <h4>{{amountByCash}}</h4>
          <p>By Cash</p>
          <i class="roi-money-icon"></i>
        </div>
        <div class="billing-expenses">
          <h4>{{amountByCard}}</h4>
          <p>By Card</p>
          <i class="roi-credit-card-icon"></i>
        </div>
        <div class="billing-expenses">
          <h4>{{amountByBank}}</h4>
          <p>By Bank</p>
          <i class="roi-bank-icon"></i>
        </div>
      </div>
    </div>
  </p-tabPanel>

  <p-tabPanel header="Expenses" [selected]="true">
    <div class="ui-g">
      <div class="ui-g-8">
        <p-table [value]="expenses">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of colsExpenses" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-expense>
            <tr>
              <td>{{expense.invoice_date}}</td>
              <td>{{expense.vendor}}</td>
              <td>{{expense.payment_method}}</td>
              <td>{{expense.amount}}</td>
            </tr>
          </ng-template>
          <!-- <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="showDialog()" label="Add"></button>
            </div>
          </ng-template> -->
        </p-table>
        
        <p-dialog [style]="{width: '50%'}" [(visible)]="displayDialog" [responsive]="true"
          showEffect="fade" [modal]="true">
          <div class="ui-g" *ngIf="newExpenses">
            <div class="ui-g-10 ui-g ui-g-offset-1">
              <h2 class="width100 mbtm-80 center">Add New Employee</h2>
              <p-selectButton [options]="expensesType" class="cui-tile-box center" [(ngModel)]="payment_method" optionLabel="name">
                <ng-template let-item>
                  <div class="cui-tile-ibox">
                    <i class="{{item.value.icon}}"></i>
                    <span>{{item.value.type}}</span>
                  </div>
                </ng-template>
              </p-selectButton>

              <div class="ui-g-6">
                <div class="cui-input-space">
                  <h3>Invoice Date</h3>
                  <p-calendar styleClass="cui-calender" showIcon="true" icon="roi-date-range-icon" [(ngModel)]="expense.invoice_date"></p-calendar>
                </div>
                <div class="cui-input-space">
                  <h3>Vendor Name</h3>
                  <input id="vendorname" type="text" size="30" pInputText />
                </div>
              </div>
              <div class="ui-g-6">
                <div class="cui-input-space">
                  <h3>Amount</h3>
                  <input pInputText id="amount" [(ngModel)]="expense.amount" />
                </div>
                <div class="cui-input-space">
                  <h3>Invoice</h3>
                  <p class="attach-invoice"><a href="#" class="link"><i class="roi-document-icon"></i> Attach Invoice</a></p>
                </div>
              </div>     
            
              <div class="ui-g-12 center">
                <div class="sub-btns">
                  <button pButton type="button" label="Delete" class="cui-gray-btn" (click)="delete()"></button>
                  <button pButton type="button" label="Save" class="cui-main-btn" (click)="save(expenses)"></button>
                </div>
              </div>
            </div>
          </div>
        </p-dialog>

      </div>
      <div class="ui-g-3 ui-g-offset-1">
        <div class="billing-expenses">
          <h4>{{expensestotalAmount}}</h4>
          <p>Total Amount</p>
          <i class="roi-rupee-icon"></i>
        </div>
        <div class="billing-expenses">
          <h4>{{expensesamountByCash}}</h4>
          <p>By Cash</p>
          <i class="roi-money-icon"></i>
        </div>
        <div class="billing-expenses">
          <h4>{{expensesamountByCard}}</h4>
          <p>By Card</p>
          <i class="roi-credit-card-icon"></i>
        </div>

      </div>
      <div class="ui-g-12 mtop-80">
        <button type="button" (click)="showDialog()" pButton class="cui-plus-btn" icon="roi-plus-icon"></button>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
