<div class="ui-g">
  <div class="ui-g-3">
    <div class="patient-details">
      <div class="details">
        <div class="description">{{details.patientname}}</div>
        <div class="title"> {{details.gender}} , {{details.age}} </div>
      </div>
      <div class="details">
        <div class="title">Email Address</div>
        <div class="description">{{details.patientname}}</div>
      </div>
      <div class="details">
        <div class="title">Phone</div>
        <div class="description">{{details.phone_num}}</div>
      </div>
      <div class="details">
        <div class="title">Additional Phone Number</div>
        <div class="description">{{details.additionalphonenum}}</div>
      </div>
      <div class="details">
        <div class="title">Patient Problem</div>
        <div class="description">{{details.problem}}</div>
      </div>
      <div class="details">
        <div class="title">Options</div>
        <div class="description">
          <p-rating [ngModel]="details.opinion" readonly="true" stars="3" [cancel]="false"></p-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-8  ui-g-offset-1">
    <p-tabView styleClass="custom-tabview">
      <p-tabPanel header="History">
        <div class="ui-g">
          <div class="ui-g-12">
            <ol class="step-indicator">
              <li class="complete">
                <div class="step">Enquiry</div>
              </li>
              <li class="active">
                <div class="step">Reports Recived</div>
              </li>
              <li class="disable" (click)="addScheduleConsultationModelBox()">
                <div class="step">Schedule Consultation</div>
              </li>
              <li class="disable" (click)="addScheduleProcedureModelBox()">
                <div class="step">Schedule Procedure</div>
              </li>
            </ol>
            <ul class="timeline">
              <li>
                  <div class="mb15">
                    <button type="button" class="icon" pButton icon="roi-reminders-icon"></button> <span class="main-color f10">Add Reminder</span>
                  </div> 
                  <div class="mb15">
                    <button type="button" class="icon" pButton icon="roi-document-icon"></button> <span class="main-color f10">Add Note</span>
                  </div>
              </li>
              <li><button type="button" class="icon" pButton icon="roi-document-icon"></button>Lorem ipsum dolor sit amet, consectetur<button type="button" pButton class="main-color icon" icon="roi-delete-icon"></button></li>
              <li><button type="button" class="icon" pButton icon="roi-reminders-icon"></button>Curabitur purus sem, malesuada eu luctus eget<button type="button" pButton class="main-color icon" icon="roi-delete-icon"></button></li>
              <li><button type="button" class="icon" pButton icon="roi-schedule-icon"></button>Fusce ullamcorper ligula sit<button type="button" pButton class="main-color icon" icon="roi-delete-icon"></button></li>
            </ul>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Payments">
        <p-table [columns]="cols" [value]="patients" selectionMode="single">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-patient>
            <tr >
              <td>{{patient.invoice_date}}</td>
              <td>{{patient.payment_method}}</td>
              <td>{{patient.amount}}</td>
              <td></td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-rowData>
            <div class="ui-g-12">
                <button type="button" (click)="showDialogToAdd()" pButton class="cui-plus-btn" icon="roi-plus-icon"></button>
            </div>
          </ng-template>
        </p-table>

        <p-dialog header="Add Payments" [style]="{width: '500px', height: '200px'}" [(visible)]="displayDialog" [responsive]="true"
          showEffect="fade" [modal]="true" [style]="{width: '300px'}">
          <div class="ui-g ui-fluid" *ngIf="patient">
            <div class="ui-g-12">
              <div class="ui-g-12">
                <label for="invoivedate">Invoice Date</label>
              </div>
              <div class="ui-g-8">
                <p-calendar [(ngModel)]="patient.invoice_date"></p-calendar>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12">
                <label for="amount">Amount</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="amount" [(ngModel)]="patient.amount" />
              </div>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12">
                <label for="amount">Payment Mode</label>
              </div>
              <div class="ui-g-12">
                <div class="ui-g" style="width:250px;margin-bottom:10px">
                  <div class="ui-g-4">
                    <p-radioButton name="group2" value="cash" label="Cash" [(ngModel)]="patient.payment_method" inputId="preopt1"></p-radioButton>
                  </div>
                  <div class="ui-g-4">
                    <p-radioButton name="group2" value="card" label="Card" [(ngModel)]="patient.payment_method" inputId="preopt2"></p-radioButton>
                  </div>
                  <div class="ui-g-4">
                    <p-radioButton name="group2" value="net banking" label="Net Banking" [(ngModel)]="patient.payment_method" inputId="preopt3"></p-radioButton>
                  </div>
                </div>
              </div>
            </div>

            <div class="ui-g-12">
              <div class="ui-g-12">
                <label for="description">Description</label>
              </div>
              <div class="ui-g-8">
                <input pInputText id="description" [(ngModel)]="patient.description" />
              </div>
            </div>

          </div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
              <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
              <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
            </div>
          </p-footer>
        </p-dialog>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>