<!--The content below is only a placeholder and can be replaced.-->
<button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show"></button>



<app-sidebar></app-sidebar>
<router-outlet></router-outlet>
<p-sidebar [(visible)]="display">
  <p-tabView>
    <p-tabPanel header="Location" [selected]="true">
      <div>

        <div>
          <div class="location-sticker" *ngFor="let location of locations">
            <div class="wrapper">
              <div class="title"> {{location.name}}</div>
              <div class="address">{{location.address}}</div>
              <div class="phone"><i class="fas fa-phone"></i> {{location.phone}}</div>
              <div class="email"><i class="fas fa-envelope"></i> {{location.email}}</div>
            </div>
            <div class="edit"><i (click)="editLocation(location)" class="fas fa-pencil-alt"></i></div>
            <div class="clear"></div>

          </div>

        </div>
        <button pButton type="button" (click)="addLocation()" label="Click"></button>

      </div>
    </p-tabPanel>
    <p-tabPanel header="Admin">
      <div>
        <div>
          <div class="location-sticker" *ngFor="let admin of admins">
            <div class="wrapper">
              <div class="title"> {{admin.name}}</div>
              <div class="address">{{admin.email}}</div>
            </div>
            <div class="edit"><i (click)="editAdminModelbox(location)" class="fas fa-pencil-alt"></i></div>
            <div class="clear"></div>

          </div>

        </div>
        <button pButton type="button" (click)="addAdminModelbox()" label="Add Admin"></button>

      </div>
    </p-tabPanel>
  </p-tabView>
</p-sidebar>
