 /*header css*/
.topbar {
  padding: 0;
  background: #fff;
}
.header-section {
  width: 100%;
  padding: 1.2rem 1.5rem 1rem 4.8rem;
}
.header-section .logo img{
  float: left;
}
.header-section .logo img{
  height: 2.9rem;
  width: 17.6rem;
}
.top-utility-bar {
  float: right;
  margin: 0;
  padding: 0;
}
.top-utility-bar li {
  display: inline-block;
  padding: 8px;
}
.top-utility-bar li .ui-button {
  background: transparent;
  border: none;
}
/* header end*/
/* sidebar start */
:host ::ng-deep .roi-sidebar.ui-sidebar {
  width: 38rem;
  padding: 1.5rem 4.4rem 1.5rem 5.6rem;
  overflow-y: scroll;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top {
  padding: 0;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav {
  margin-left: 1rem;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li {
  margin: 0;
  border-color: #AAAAAA;
  color: #AAAAAA;
  background-color: transparent;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active,
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li:not(.ui-state-active):not(.ui-state-disabled):hover {
  background: transparent;
  border-color: #B51F23;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active a,
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li a:hover {
  color: #B51F23;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview.ui-tabview-top .ui-tabview-nav li a {
  color: #AAAAAA;
  padding: 1.4rem 3.3rem 1.3rem;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-corner-top {
  border-radius: 0;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-tabview .ui-tabview-panels {
  padding: 0;
  width: 26rem;
  margin: 3.3rem 0 0 0;
}
:host ::ng-deep .roi-sidebar.ui-sidebar .ui-sidebar-close {
  position: relative;
  top: 0;
  right: -3rem;
}
.location-sticker {
  margin-top: 1.5rem;
  border: 1px solid #555;
  padding: 2rem 3.9rem 1.4rem 2.8rem;
}

.location-sticker>.wrapper {
  float: left;
  width: 100%;
}
.location-sticker>.edit {
  float: right;
  color: #b51f23
}
.location-sticker>.wrapper>.title {
  font-weight: 900;
  margin-bottom: 2rem;
  position: relative;
}
.location-sticker>.wrapper>.title .roi-edit-icon {
  position: absolute;
  right: 0;
  top:0;
  font-size: 1.7rem;
  color: #b51f23;
}

.location-sticker>.wrapper>.address {
  font-size: 1rem;
  color: #aaa;
  margin-bottom: 1.2rem;
}
.location-sticker>.wrapper>.phone,
.location-sticker>.wrapper>.email {
  color: #b51f23;
  margin-bottom: 1rem;
}
.location-sticker>.wrapper>.phone>i,
.location-sticker>.wrapper>.email>i {
  font-size: 0.9rem;
  color: #b51f23;
}

/* sidebar end */
 .clear {
   clear: both;
 }

 h3 {
   padding: 0px;
   font-size: 14px
 }

 :host ::ng-deep .ui-table .ui-table-tbody>tr>td {
   border: none !important;
 }

 :host ::ng-deep .ui-table .ui-table-thead>tr>th {
   background: none;
   padding: 0px;
   border: none;
 }

 :host ::ng-deep .ui-table .ui-table-tbody>tr:nth-child(even) {
   background: none;
 }
 :host ::ng-deep   .ui-table .ui-sortable-column.ui-state-highlight{
   color: #000;
 }
:host ::ng-deep  .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon{
  color:#000;
}



