<div class="ui-menu">
  <ul class="ui-menu-list">
    <li class="ui-menuitem">
        <a href="/patients" class="ui-menuitem-link">
          <span class="ui-menuitem-icon roi-patients-icon"></span>
          <span class="ui-menuitem-text">Patients</span>
        </a>
    </li>
    <li class="ui-menuitem">
      <a href="/settings" class="ui-menuitem-link">
        <span class="ui-menuitem-icon roi-settings-icon"></span>
        <span class="ui-menuitem-text">Settings</span>
      </a>
    </li>
    <li class="ui-menuitem">
      <a href="/schedule" class="ui-menuitem-link">
        <span class="ui-menuitem-icon roi-schedule-icon"></span>
        <span class="ui-menuitem-text">schedule</span>
      </a>
    </li>
    <li class="ui-menuitem">
      <a href="/billing" class="ui-menuitem-link">
        <span class="ui-menuitem-icon roi-billing-icon"></span>
        <span class="ui-menuitem-text">Billing</span>
      </a>
    </li>
  </ul>
</div>