
<div class="ui-g schedule-wrapper">
  <div class="ui-g-12 center">
      <p-calendar [(ngModel)]="dateFormat" (onSelect) =getAllSchedules()></p-calendar>
  </div>
  <div class="ui-g-3 left">
    <p-dropdown [options]="doctors" [(ngModel)]="selectedDoctorId" (onChange)=getAllSchedules() ></p-dropdown>
  </div>
  <div class="ui-g-9 schedule-box">
    <div class="schedules" >
      <h5><img src="../assets/sunrise.png" alt="Morning"> Morning</h5>
      <ul class="schedule-list" *ngFor = "let schedule of schedules;  let index=index; let odd=odd; let even=white;" >
        <li> {{schedule.time}} - {{schedule.patientname}} - SD: Pre</li>
      </ul>
    </div>
  
  
  <!--  <div *ngFor="let schedule of schedules">
      <div>{{schedule.patientname}}</div>
    </div>

    <li class="disable" (click)="addScheduleModelBox()">
      <div class="step">Schedule Procedure</div>
    </li> -->
    <div class="ui-g-12">
      <button type="button" (click)="addScheduleModelBox()" pButton class="cui-plus-btn" icon="roi-plus-icon"></button>
    </div>
  </div>
</div>
