/* You can add global styles to this file, and also import other style files */
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem; 
    color: #555555;
    line-height: 120%;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}
:focus {
    outline: #555555 dotted 1px;
}
.main-container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
} 
.main-color {
    color: #b51f23;
}
.gray-color {
    color: #aaaaaa;
}
.dark-gray-color {
    color: #707070;
}
.rich-black-color {
    color: #000000;
}
body a {
    color: #555555;
}
body a:hover, body a:active, body a:focus {
    color: #b51f23;
}
body .ui-widget {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}
.f8 {
    font-size: 0.8rem;
}
.f10 {
    font-size: 1rem;
}
.f12 {
    font-size: 1.2rem;
}
.mb15 {
    margin-bottom: 15px;
} 
.cui-pad0 {
    padding: 0;
}
.cui-min-hgt {
    min-height: 60rem;
}
.cui-body-space {
    padding: 3.8rem 6rem;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.mtop-80 {
    margin-top: 8rem;
}
.mbtm-25 {
    margin-bottom: 2.5rem !important;
}
.prelative {
    position: relative;
}
.pabsolute {
    position: absolute;
}
a.forgotpwd {
    color: #b51f23 !important;
    text-decoration: none;
    font-weight: 700;
    margin: 3.3rem 0 0 -1.8rem;
    display: block;
}
.link {
    color: #B51F23 !important;
    text-decoration: none;
    font-weight: 600;
}
.link [class^="roi-"], .link [class*=" roi-"]{
    color: #B51F23;
    font-size: 1.7rem;
    position: relative;
    top: 3px;
}
.link-black {
    color: #000 !important;
    text-decoration: none;
    font-weight: 600;
}
.link-black [class^="roi-"], .link-black [class*=" roi-"]{
    color: #000;
    font-size: 1.7rem;
    position: relative;
    top: 3px;
}
/*plus btn*/
.cui-plus-btn.ui-button,
.cui-plus-btn.ui-button:enabled:hover {
    background: #b51f23;
    border: none;
    color:#fff;
}
.cui-plus-btn.ui-button.ui-button-icon-only {
    height: 6.4rem;
    width:6.4rem;
}
.cui-plus-btn.ui-button.ui-corner-all {
    border-radius: 35px;
    float: right;
    position: relative;
    bottom: 30px;
    right: -30px;
}
.cui-plus-btn.ui-button.ui-button-icon-only .ui-button-icon-left {
    color:#fff;
    font-weight: bold;
}
/* buttons */
body .ui-button {
    margin-right:2.5rem;
}
.cui-main-btn.ui-button,
.cui-main-btn.ui-button:enabled:hover,
.cui-main-btn.ui-button:enabled:active {
  background: #b51f23;
  border: none;
  color:#fff;
  padding: 1.5rem 3.3rem;
}
.cui-main-btn.ui-button.ui-button-text-only .ui-button-text {
  padding: 0;
  font-size: 1.4rem;
}

.cui-main-bdr-btn.ui-button,
.cui-main-bdr-btn.ui-button:enabled:hover,
.cui-main-bdr-btn.ui-button:enabled:active {
  background: #fff;
  border: solid #b51f23 1px;
  color:#b51f23;
  padding: 1.5rem 3.3rem;
}
.cui-main-bdr-btn.ui-button.ui-button-text-only .ui-button-text {
  padding: 0;
  font-size: 1.4rem;
}

.cui-gray-btn.ui-button,
.cui-gray-btn.ui-button:enabled:hover,
.cui-gray-btn.ui-button:enabled:active {
  background: #fff;
  border: solid #707070 1px;
  color:#707070;
  padding: 1.5rem 3.3rem;
}
.cui-gray-btn.ui-button.ui-button-text-only .ui-button-text {
  padding: 0;
  font-size: 1.4rem;
}
.go-back {
    padding: 1.4rem 2.2rem 1.3rem;
    color: #555;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #fff;
    margin-bottom: 3.5rem;
    display: inline-block;
}
.go-back .pi {
    position: relative;
    top: 3px;
    left: -5px;
}

.login.ui-button,
.login.ui-button:enabled:hover,
.login.ui-button:enabled:active {
    padding: 1.3rem 8rem 1.2rem;
}

body .ui-button:enabled:focus {
    box-shadow: none;
}
.width100 {
    width: 100%;
}
.mbtm-80 {
    margin-bottom: 8rem;
}
/*form input styles*/
.cui-input-box {
    background-color: #fff;
    padding: 2.2rem 2.4rem 2.2rem 3.4rem;
}
.cui-input-box:first-child {
    margin-right: 2rem;
}
.cui-input-space {
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    width: 100%;
}
.cui-input-space h3 {
    margin: 0 0 0.6rem 0.6rem; 
    font-size: 1.2rem;
    color: #555;
}
body .ui-inputtext,
body .ui-inputtext:enabled:hover:not(.ui-state-error),
body .ui-inputtext:enabled:focus:not(.ui-state-error) {
  border: 1px solid #ccc;
  color:#aaa;
  padding: 1.7rem 2.4rem 1.6rem;
  width: 100%;
  font-size: 1.2rem;
  background-color: #fff;
  font-weight: 500;
}
body .ui-dropdown,
body .ui-dropdown:not(.ui-state-disabled):hover,
body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
  border: 1px solid #ccc;
  color:#aaa;
  width: 100%;
  background-color: #fff;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, 
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #000;
    background-color: #fff;
}
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item, 
body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    padding: 1rem 3rem 1rem;
    border: 0 none;
    color: #000;
}
.cui-calender, .ui-calender {
    border-color: #ccc;
    color:#aaa;
    width: 100%; 
    background-color: #fff;
}
body .ui-radiobutton {
    width: 16px;
    height: 16px;
    margin-left: 6px;
}
body .ui-radiobutton .ui-radiobutton-box {
    border: 1px solid #707070;
    width: 16px;
    height: 16px;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active,
body .ui-radiobutton .ui-radiobutton-box.ui-state-focus,
body .ui-radiobutton .ui-radiobutton-box.ui-state-active:not(.ui-state-disabled):hover,
body .ui-radiobutton .ui-radiobutton-box.ui-state-active.ui-state-focus,
body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #707070;
    background-color: #fff;
    color: #ffffff;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon {
    background-color: #b51f23;
}
body .ui-radiobutton-label {
    margin: 0 2.5rem 0 0.5rem;
}
body .ui-corner-all {
  border-radius: 3px;
}

body .ui-rating:not(.ui-state-disabled):not(.ui-rating-readonly) a:hover {
    color: #b51f23;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #aaa;
  -webkit-text-fill-color: #ccc;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
    color: #aaa;
}
/* Tile icon text*/
.cui-tile-box .ui-widget {
    margin-bottom: 3rem; 
}
.cui-tile-box .ui-selectbutton .ui-button {
    background-color: #fff;
    border: 1px solid #aaa;
    color: #aaa;
    margin: 1rem 1.2rem;
    border-radius: 0.3rem;
    font-weight: 600;
}
.cui-tile-box .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-focus:not(.ui-state-disabled):focus,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-active,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-focus {
    background-color: #fff;
    border: 1px solid #b51f23;
    color: #b51f23;
}
.cui-tile-box, form {
    width: 100%;
}
.cui-tile-box .cui-tile-ibox {
    padding: 2.3rem 3.2rem 1rem;
}
.cui-tile-box .cui-tile-ibox i, .cui-tile-box .cui-tile-ibox span {
    display: block;
}
.cui-tile-box .cui-tile-ibox i {
    padding-bottom: 1.8rem;
    font-size: 3rem; 
}
.cui-tile-box .cui-tile-ibox span {
    font-size: 1.1rem;
}
.cui-tile-box .ui-selectbutton .ui-button:not(.ui-state-disabled):not(.ui-state-active):hover .cui-tile-ibox i,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-active:not(.ui-state-disabled):hover .cui-tile-ibox i,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-active .cui-tile-ibox i,
.cui-tile-box .ui-selectbutton .ui-button.ui-state-active .cui-tile-ibox span {
    color: #b51f23;
}
.sub-btns {
    margin-top: 3rem;
}
.add-payment-box {
    border: solid 1px #b51f23;
    padding: 1.7rem 2rem;
    margin: 0 0 3rem;
    width: 50%;
}
/* Login form*/
body .loginForm.ui-panel .ui-panel-titlebar {
    border: 1px solid transparent;
    padding: 1.7rem 12.4rem;
    background-color: #fff;
    color: #555;
    border-radius: 0px;
}
body .loginForm.ui-panel .ui-panel-titlebar .ui-panel-title {
    position: relative;
    padding: 0 0 8px;
}
body .loginForm.ui-panel .ui-panel-titlebar .ui-panel-title:after {
    content: " ";
    display:table-cell;
    padding:15px;
    border-bottom: solid #B51F23 2px;
    position: absolute;
    bottom: 0;
    left: 6px;
}
body .loginForm.ui-panel .ui-panel-content {
    background-color: #ffffff;
    color: #555;
    padding: 9rem 0;
    border: none;
}
img.user-icon {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    position: relative;
    top: 10px;
    left: -2px;
}
body .user-name.ui-splitbutton .ui-button {
    border: 1px solid transparent;
    background-color: transparent;
    color: #555555;
    font-weight: 600;
}
body .user-name.ui-splitbutton .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.5rem;
}
body .user-name.ui-splitbutton .ui-corner-left {
    border-radius: 0;
}
body .user-name.ui-splitbutton .ui-splitbutton-menubutton .pi.pi-chevron-down {
    font-size: 1.2rem;
}
body .user-name.ui-splitbutton .ui-splitbutton-menubutton .pi-chevron-down:before {
    content: "\e906";
}
body .user-name.ui-splitbutton.ui-buttonset .ui-menu {
    top: 3.5rem !important;
    left: auto !important;
    right: 0;
    width: 18.4rem;
}
body .user-name.ui-splitbutton.ui-buttonset .ui-menu.ui-shadow {
    border: 0.05rem solid #EBEDF5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
}
body .user-name.ui-splitbutton .ui-menu .ui-menuitem-link {
    padding: 1rem 1.5rem;
    color: #333333;
    font-size: 1.2rem;
    font-weight: 600;
}
body .user-name.ui-splitbutton .ui-menu .ui-menuitem-link .ui-menuitem-icon {
    color: #B51F23;
    font-size: 1.7rem;
}
/*schedules page*/
body .schedule-wrapper .ui-dropdown, 
body .schedule-wrapper .ui-dropdown:not(.ui-state-disabled):hover, 
body .schedule-wrapper .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    border: 1px solid #aaa;
    color: #000;
    background-color: #fff;
}
body .schedule-wrapper .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon {
    margin-top: -0.5rem;
    margin-left: -2rem;
    font-size: 1.2rem;
}
body .schedule-wrapper .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon.pi-chevron-down:before {
    content: "\e906";
}
body .schedule-wrapper .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, 
body .schedule-wrapper .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight {
    color: #000;
    background-color: #fff;
}
body .schedule-wrapper .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item, 
body .schedule-wrapper .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group {
    padding: 1rem 3rem 1rem;
    border: 0 none;
    color: #000;
    font-weight: 600;
}
body .schedule-wrapper .ui-inputtext, 
body .schedule-wrapper .ui-inputtext:enabled:hover:not(.ui-state-error), 
body .schedule-wrapper .ui-inputtext:enabled:focus:not(.ui-state-error) {
    color: #000;
    padding: 1.7rem 2.8rem 1.6rem;
    font-weight: 600;
}

/*dialog css*/
body .ui-dialog .ui-dialog-titlebar {
    border: solid 1px #fff;
    background-color: #fff;
    padding: 15px;
    border-bottom: 0 none;
    color: #555;
}
body .ui-dialog .ui-dialog-content {
    color: #555;
    border: solid 1px #fff;
    padding: 0;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
    color: #555;
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .pi-times:before {
    content: '\e906';
}
body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .pi {
    font-family: 'roifont';
}
