<form [formGroup]="addPosForm">
  <div class="ui-g">
    <div class="ui-g-4 ui-g ui-g-offset-4">
      <div class="cui-input-space">
        <h3>Item Name</h3>
        <input id="float-input" formControlName="itemname" type="text" size="30" pInputText>
      </div>
      <div class="cui-input-space">
        <h3>Amount</h3>
        <input id="float-input" formControlName="amount" type="text" size="30" pInputText>
      </div>
    </div>
    <div class="ui-g-12 center">
      <div class="sub-btns">
        <button pButton class="Cancel"  type="button" class="cui-gray-btn" label="Cancel" (click)="cancel()"></button>
        <button pButton class="add" *ngIf="disableButton" type="button" class="cui-main-btn" label="Add" (click)="sumbmit()"></button>
        <button pButton class="Update" *ngIf="!disableButton" type="button" class="cui-main-btn" label="Update" (click)="update(addPosForm.value ,user.itemid)"></button>
      </div>
    </div>
  </div>

</form>
