


.employessModelBox li {
  float: left;
  padding: 10px 20px;
  border: 2px solid #eee;
  list-style-type: none;
  margin: 30px;
}
.mainHeader {
  color: #AAAAAA;
}
.clear {
  clear: both;
}

.cui-edit-sbox {
  padding: 0 3rem 2rem 0;
}
.sticker {
  margin: 0;
  background: #fff;
  padding: 2.3rem 4.2rem;
  box-shadow: 0px 1px 3px rgb(0,0,0,0.16);
  border: solid #EBEDF5 0.05rem;
}
.sticker .title {
  font-weight: bold;
  position: relative;
  padding-bottom: 0.6rem; 
}
.sticker .title .edit {
  position: absolute;
  right: 0;
  top: 0;
}
.sticker .title .edit .roi-edit-icon {
  color: #B51F23;
  font-size: 1.7rem;
  cursor: pointer;
}
.sticker .designation {
  font-size: 1rem;
}
.ui-g-7.cust-7 {
  width: 64.5%;
}
