


.employessModelBox li {
  float: left;
  padding: 10px 20px;
  border: 2px solid #eee;
  list-style-type: none;
  margin: 30px;
}

.clear {
  clear: both;
}

.cui-edit-sbox {
  padding: 0 3rem 2rem 0;
}
.sticker {
  margin: 0;
  background: #fff;
  padding: 2.3rem 4.2rem;
}
.sticker .title {
  font-weight: bold;
  position: relative;
  padding-bottom: 0.6rem; 
}
.sticker .title .edit {
  position: absolute;
  right: 0;
  top: 0;
}
.sticker .title .edit .roi-edit-icon {
  color: #B51F23;
  font-size: 1.7rem;
  cursor: pointer;
}
.sticker .designation {
  font-size: 1rem;
}

