<p-tabView styleClass="custom-tabview">
  <p-tabPanel header="Basic Info">
    <div class="ui-g ui-fluid">
      <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">

        <div class="ui-g-4 cui-input-box">
          <div class="cui-input-space">
            <h3>Address</h3>
            <textarea rows="5" cols="30" placeholder="Address" formControlName="address" pInputTextarea></textarea>
          </div>
          <div class="cui-input-space">
            <h3>Google Map Url</h3>
            <input id="input" type="text" size="30" formControlName="Googlemapurl" placeholder="Google Map Url" pInputText>
            <span id="text">{{text}}</span>
          </div>
        </div>
        <div class="ui-g-7 cust-7 cui-input-box">
          <h4 class="mainHeader cui-input-space">Bank Details</h4>
          <div class="ui-g ui-fluid">
            <div class="ui-g-5">
              <div class="cui-input-space">
                <h3>Account Number</h3>
                <input id="input" type="text" size="30" formControlName="BankAccNo" placeholder="Account Number" pInputText>
                <input id="input" [hidden] = "true" type="text" size="30" formControlName="id" placeholder="Account Number" pInputText>

                <span id="text">{{text}}</span>
              </div>
              <div class="cui-input-space">
                <h3>Account Name</h3>
                <input id="input" type="text" size="30" formControlName="BankAccName" placeholder="Account Name" pInputText>
                <span id="text">{{text}}</span>
              </div>
            </div>
            <div class="ui-g-5">
              <div class="cui-input-space">
                <h3>IFSC Code</h3>
                <input id="input" type="text" size="30" formControlName="IFSC" placeholder="IFSC Code" pInputText>
                <span id="text">{{text}}</span>
              </div>
              <div class="cui-input-space">
                <h3>PAN</h3>
                <input id="input" type="text" size="30" formControlName="IFSC" placeholder="PAN" pInputText>
                <span id="text">{{text}}</span>
              </div>
            </div>

          </div>
        </div>
        <div class="ui-g-12 center mtop-80">
          <p-button styleClass="cui-main-btn" label="Save"></p-button>
        </div>
      </form>

    </div>
  </p-tabPanel>
  <p-tabPanel header="Employee">
    <div class="ui-g">
      <div class="ui-g-5 cui-edit-sbox" *ngFor="let employee of employees">
        <div class="sticker">
          <div class="description">
            <div class="title"> {{employee.empname}}
              <span class="edit"><i  (click)="EditEmployeeModelBox(employee)" class="roi-edit-icon"></i></span>
            </div>
            <div class="designation"> {{employee.email}}</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addEmployeeModelBox()" pButton class="cui-plus-btn" icon="roi-plus-icon"></button>

  </p-tabPanel>
  <p-tabPanel header="POS">
    <div class="ui-g">
      <div class="ui-g-5 cui-edit-sbox" *ngFor="let po of pos">
        <div class="sticker">
          <div class="description">
            <div class="title"> {{po.itemname}}
              <span class="edit"><i  (click)="editPos(po)" class="roi-edit-icon"></i></span>
            </div>
            <div class="designation"> {{po.amount}}</div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <button type="button" (click)="addPos()" pButton class="cui-plus-btn" icon="roi-plus-icon"></button>
  </p-tabPanel>
</p-tabView>
